
@import url('https://fonts.cdnfonts.com/css/poppins');
                
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;                 
}
body{
    background: linear-gradient(30deg, rgb(0, 81, 255), lightgreen);
}
.container{
    width: 90%;
    margin: auto;
}
a{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}
li{
    list-style: none;
}
.nav-btn{
    border: 2px solid white;
    padding: 8px 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.nav-btn span{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 0%;
    background-color: white;
    color: transparent;
    transition: .2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-btn:hover span{
    height: 100%;
    color: black;
}

@media (max-width: 768px){
    .container{
        width: 90%;
        margin: auto;
    }
    .header{
        padding: 20px 0;
    }
    .navbar li{
        padding-right: 20px;
    }
    .nav-link{
        font-size: 16px;
    }
    .brand-name{
        font-weight: bold;
        font-size: 20px;
    }
    /* .toggle{
        display: block;
        position: absolute;
        right:5%;
        top: 20px;
        cursor: pointer;
    } */
    .nav-container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .nav-btn{
        position: absolute;
        top: 15px;
        right: 18%;
        padding: 4px 16px;
        border: 1px solid white;
        font-size: 14px;
        border-radius: 16px;
    }
    .nav-btn i{
        margin-left: 8px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        border-radius: 8px;
        right: 20px;
        position: absolute;
        top:15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        
    }
    .toggle span{
        width: 30px;
        height: 4px;
        border-radius: 2px;
        background-color: white;
        margin-bottom: 6px;
        transition: transform .3s ease-in-out;
    }
    .toggle.active span:nth-child(2){
        transform: translateX(50px);
    }
    .toggle.active span:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        transition-delay: .2s;
    }
    .toggle.active span:nth-child(3){
        transform: translateY(-12px) rotate(-45deg);
        transition-delay: .2s;
    }
    .nav-btn span{
       display: none;
    }
    .nav-btn:hover span{
        height: 100%;
        color: black;
    }
    .navbar{
        display: none;
        flex-direction: column;
        margin-top: 20px;
        height: 100vh;
    }
    .navbar li{
        margin-bottom: 30px;
        transform: translateX(-150px);
    }
    .navbar.active{
        display: block;
    }
    .wave-con .container h1{
        margin-top: 65%;
        font-size: 30px;
        color: white;
    }
    .wave-con .container h2{
        margin-top: 15%;
        font-size: 24px;
        color: black;
    }
    .hero2 .container h3{
        font-size: 28px;
        color: white;
        margin-top: 20px;
        font-weight: 500;
    }
    .circle-anim{
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(1);
        background: linear-gradient(30deg, rgb(0, 81, 255), lightgreen);
        animation: expand 5s alternate;
        transition: all 1s ease-in-out;
    }
    .anim{
        animation: movin 2s linear forwards;
       
    }
    .l1.anim{
        animation-delay: .5s;
    }
    .l2.anim{
        animation-delay: 1s;
    }
    .l3.anim{
        animation-delay: 1.5s;
    }
    .l4.anim{
        animation-delay: 2s;
    }
    .l5.anim{
        animation-delay: 2.5s;
    }
    .l6.anim{
        animation-delay: 3s;
    }
    @keyframes movin {
        from{
            transform: translateX(-150px);
            opacity: 0;
        }to{
            transform: translateX(0);
            opacity: 1;
        }
    }
    .header img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
        z-index: -1;
        opacity: .7;
        animation: header 2s alternate;
    }
    @keyframes header {
        from{
            transform: scale(1.2);
        }to{
            transform: scale(1);
        }
    }
    .service h4{
        font-size: 14px;
    }
    .our-service li{
        margin-bottom: 40px;
        font-size: 20px;
        cursor: pointer;
        transition: transform .5s ease-in-out;
    }
    .hero{
        width: 100%;
        height: 80vh;
       
    }
    .hero2{
        width: 100%;
        height: 80vh;
       
    }
}